@model Entidades.Estudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h5>Datos Del Estudinate</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("NOMBRES:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("APELLIDOS:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("EMAIL:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CONTRASEÑA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("TELEFONO")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("FOTOGRAFIA")
        </dt>
        <dd class="col-sm-10">
            @{
                string ImagenBase64 = "";
                if (Model.Fotografia != null && Model.Fotografia.Length > 0)
                {
                    string Cadena_Imagen = Convert.ToBase64String(Model.Fotografia);
                    ImagenBase64 = "data:image/jpeg;base64," + Cadena_Imagen;
                }
                if (ImagenBase64.Trim().Length > 0)
                {
                    <img id="VistaImagenEstudiante" src="@ImagenBase64" style="max-width:150px; max-height:150px" />
                }
                else
                {
                    <img id="VistaImagenEstudiante" src="~/img/defecto.jpg" style="max-width:150px; max-height:150px" />
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("MATERIA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objeto_Materia.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Docente Materia:")
        </dt>
        <dd class="col-sm-10">
            @{
                string ImagenBase64P = "";
                if (Model.Objeto_Materia.Objeto_Profesor.Fotografia != null && Model.Objeto_Materia.Objeto_Profesor.Fotografia.Length > 0)
                {
                    string Cadena_Imagen = Convert.ToBase64String(Model.Objeto_Materia.Objeto_Profesor.Fotografia);
                    ImagenBase64P = "data:image/jpeg;base64," + Cadena_Imagen;
                }
                if (ImagenBase64P.Trim().Length > 0)
                {
                    <img id="VistaImagenEstudiante" src="@ImagenBase64P" style="max-width:150px; max-height:150px" />
                }
                else
                {
                    <img id="VistaImagenEstudiante" src="~/img/defecto.jpg" style="max-width:150px; max-height:150px" />
                }
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEstudiante" class="btn btn-primary">EDITAR</a> |
    <a asp-action="Index" class="btn btn-secondary">CANCELAR</a>
</div>
