@model Entidades.Profesor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h5>Datos Del Profesor:</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("NOMBRES")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("APELLIDOS")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("EMAIL")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CONTRASEÑA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("RESIDENCIA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objeto_Ciudad.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Tipo Rol")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objeto_Rol.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("AULA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("FOTOGRAFIA")
        </dt>
        <dd class="col-sm-10">
            @{
                string ImagenBase64 = "";
                if (Model.Fotografia != null && Model.Fotografia.Length > 0)
                {
                    string Cadena_Imagen = Convert.ToBase64String(Model.Fotografia);
                    ImagenBase64 = "data:image/jpeg;base64," + Cadena_Imagen;
                }
                if (ImagenBase64.Trim().Length > 0)
                {
                    <img id="VistaImagenProfesor" src="@ImagenBase64" style="max-width:150px; max-height:150px" />
                }
                else
                {
                    <img id="VistaImagenProfesor" src="~/img/defecto.jpg" style="max-width:150px; max-height:150px" />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProfesor" class="btn btn-primary">EDITAR</a> |
    <a asp-action="Index" class="btn btn-secondary">CANCELAR</a>
</div>
